@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

.vintage-bg {
  background: radial-gradient(circle at 15% 20%, #c56a4a33 0%, transparent 40%),
    radial-gradient(circle at 85% 80%, #7c8c4233 0%, transparent 40%), #f5efe6;
}
