@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-title: var(--font-pacifico);
  --font-subtitle: var(--font-dancing);
  --font-body: var(--font-montserrat);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  overflow-y: auto;
  touch-action: pan-y;
  overscroll-behavior-y: contain;
}

.vintage-bg {
  background:
    radial-gradient(circle at 15% 20%, #c56a4a33 0%, transparent 40%),
    radial-gradient(circle at 85% 80%, #7c8c4233 0%, transparent 40%), #f5efe6;
}

.font-title {
  font-family: var(--font-title);
}

.font-subtitle {
  font-family: var(--font-subtitle);
}

.font-body {
  font-family: var(--font-body);
}
